<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Редактирование пользователя</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script type="text/javascript" src="/webjars/jquery/3.6.3/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" />
</head>
<script>
  function passwordCheckboxChanged() {
    if ($("#resetPasswordCheckbox").is(":checked")) {
      $("#defaultPassword").show();
    } else {
      $("#defaultPassword").val("").hide();
    }
  }
</script>
<body>
<div th:replace="~{header :: header(${loggedUser})}"></div>
<div style="margin: 30px 0 0 50px;">
  <div class="row mt-3">
    <div class="col">
      <a class="btn btn-primary" th:href="@{/users}">Назад</a>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <h1 class="display-3">Редактирование пользователя</h1>
      <p class="h6">Укажите новые значения в обязательных полях</p>
    </div>
  </div>
  <form action="#" th:action="@{/users/save}" th:object="${dto}" style="max-width: 700px;"
        method="post">
    <fieldset>
      <div class="row mt-3">
        <div class="col">
          <input type="text" th:field="${dto.user.username}" class="form-control input-lg"
                 placeholder="Логин *" required="true" autofocus="true"/>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <input type="text" th:field="${dto.user.lastname}" class="form-control input-lg"
                 placeholder="Фамилия *" required="true" autofocus="true"/>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <input type="text" th:field="${dto.user.firstname}" class="form-control input-lg"
                 placeholder="Имя *" required="true" autofocus="true"/>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <input type="text" th:field="${dto.user.patronymic}" class="form-control input-lg"
                 placeholder="Отчество" required="true" autofocus="true"/>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <input type="text" th:field="${dto.user.email}" class="form-control input-lg"
                 placeholder="Email" required="true" />
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          Выберите роль, чтобы добавить её пользователю:
          <select class="form-control" id="dropDownList" th:field="${dto.roleName}">
            <option th:each="role : ${roles}" th:value="${role.name}" th:text="${role.getDescription()}"
                    th:selected="${role.name=='ROLE_USER'}"></option>
          </select>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <input id="resetPasswordCheckbox" type="checkbox" onchange="passwordCheckboxChanged()" />
          <label id="resetPassword" for="resetPasswordCheckbox">Сбросить пароль</label>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <input id="defaultPassword" type="password" th:field="${dto.user.password}" class="form-control input-lg"
                 placeholder="Новый пароль" style="display: none;" />
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <input type="submit" id="submitButton" class="btn btn-success" th:value="Cохарнить" />
        </div>
      </div>
    </fieldset>
  </form>
</div>
</body>
</html>